# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# Environment files
.env
.env.*

# Logs
*.log

# Python caches
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db